/.idea/
/.venv/
/DataSets/RawData/
/DataSets/AdditionalData/
/DataSets/AdditionalDataFiltered/
/DataSets/Plots/
/Experiments/Physical_Model_Erd/Results/2025_06_02_11_12_44/
/Experiments/Loss Functions/Results/2025_05_28_17_19_17/
/Experiments/Loss Functions/Results/2025_06_02_13_39_01/
/Experiments/PiNN/Results/2025_06_03_09_14_53/
/Experiments/PiNN/Results/2025_06_03_11_23_34/
/Experiments/PiNN/Results/2025_06_03_10_57_15/
/Experiments/PiNN/Results/2025_06_03_11_55_00/
/Experiments/Recursive_Nets/Results/
/Experiments/SequentialNet/Results/

/Experiments/MoE_Gating/Results/2025_06_03_16_53_13/
/Experiments/MoE_Gating/Results/2025_06_03_17_02_53/
/Experiments/MoE_Gating/Results/
/Experiments/Physical_Model_Erd/Results/
/Experiments/MoE_Moirai/Results/
/Experiments/MoE_Physics_motivated/Results/
/Experiments/NaiveModel/Results/
/Experiments/PiNN/Results/
/Experiments/Load_Data_DataSets/Results/
/Experiments/MoE_MemoryAdvanced/Results/
/Experiments/LuGreModel/Results/
/Experiments/DifferentTrees/Results/
/Experiments/Friction_Model/Results/
/Experiments/JAX_Implementation_NN/Results/
/Experiments/Cont_Dev/Results/
/DataSets/OldDataSets/
/Experiments/NeuralNet/Results/2025_07_09_14_39_51/
/Experiments/NeuralNet/Results/
/DataSets/MergedData/
/DataSets/Datensaetze/
/DataSets/CombinedData/
/Experiments/MachineStateSpace/Results/
/Experiments/Combined_Machine_and_Processmodel/Results/
/DataSets/Old_CombinedData/
/DataSets/OldDataSets_CMX_I40/
/DataSets/Anomalie/
/Experiments/MachineStateSpace/AirCut_PhysModel_Linear_Parameter_19_46_10_07_25/
/Experiments/MachineStateSpace/AirCut_PhysModel_Linear_Parameter_19_58_10_07_25/
/Experiments/Controller/Results/
/DataSets/MergedData/
/DataSets/MergedDataFiltered/
/DataSets/Anomalie/
/DataSets/Data/
/DataSets/Infos/
/DataSets/DataFiltered/
/DataSets/OldData_Aligned/
/DataSetsV2/RawData/
/DataSetsV2/Data/
/DataSetsV2/MergedData/
/DataSetsV2/RawDataDT9836/
/DataSetsV2/RawDataSinumerik/
/DataSetsV3/Data/
/DataSetsV3/DataDT9836_50Hz/
/DataSetsV3/RawData/
/DataSetsV3/DataSinumerik_50Hz/
/DataSetsV3/DataMerged/
/DataSetsV3/DataSimulated/
/DataSetsV3/Data2/
