/.idea/
/.venv/
/Archiv/DataSets/
/DataSets/Data/
/DataSets/DataDT9836_50Hz/
/DataSets/DataMerged/
/DataSets/DataSimulated/
/DataSets/DataSinumerik_50Hz/
/DataSets/Infos/
/DataSets/RawData/
/Archiv/
/Experiements/Plots/
/DataSets/Data_corrected_force/
/DataSets/Data_low_res/
/DataSets/DataSimulated_low_res/
/Experiements/Hyperparameteroptimization/Results/Recurrent_Neural_Net/2025_08_11_12_27_51/
/Experiements/Hyperparameteroptimization/Results/Recurrent_Neural_Net/2025_08_11_13_05_26/
/Experiements/Hyperparameteroptimization/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_12_16_04_35/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_12_17_23_33/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_12_17_40_14/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_12_16_38_33/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_12_17_36_14/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_09_13_07_25/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_11_12_56_33/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_11_12_21_32/
/Experiements/Sign_hold/Results/ST_Plate_Notch-2025_08_09_13_11_36/
