/.idea/
/.venv/
/Archiv/DataSets/
/DataSets/Data/
/DataSets/DataDT9836_50Hz/
/DataSets/DataMerged/
/DataSets/DataSimulated/
/DataSets/DataSinumerik_50Hz/
/DataSets/Infos/
/DataSets/RawData/
/Archiv/
/Data/
/Data_AllDataOptimized/
